
/* CSS FOR LOGGIN */
#login {
    background: url(https://i.ibb.co/VQmtgjh/6845078.png) no-repeat;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 600px) {
    #login {
        background-size: cover;
    }
}

#login #particles-js {
    height: 100%
}
#login .loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background: #1e1e1e;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
}
#login .user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}
#login h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #59238F;
    text-align: center
}
#login .loginBox input[type=email], #login .loginBox input[type=password],#login .loginBox  input[type=submit]{
    width: 100%;
    margin-bottom: 20px
}
#login .loginBox input[type="email"], #login .loginBox input[type="text"],
#login .loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}
#login .loginBox input[type="email"]:hover, #login .loginBox input[type="text"]:hover,
#login .loginBox input[type="password"]:hover {
    color: #42F3FA;
    border: 1px solid #42F3FA;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black
}
#login .loginBox input[type="text"]:focus,
#login .loginBox input[type="email"]:focus,
#login .loginBox input[type="password"]:focus {
    border-bottom: 2px solid #42F3FA
}
#login .inputBox {
    position: relative
}
#login .inputBox span {
    position: absolute;
    top: 10px;
    color: #303030
}
#login .loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;   
    font-size: 16px;
    background: #59238F;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}
#login .loginBox a {
    color: #424242;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}
#login a:hover {
    color: #00ffff
}
#login p {
    color: #0000ff
}
/* END CSS FOR LOGIN */

/*COURSE STYLES*/
.course:hover, .card:hover{
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.53) !important;
}
.opacity{
    opacity: 40%;
}